references/n8n/IoT - Energia - WhatsApp - SANITIZED.json
{
  "name": "IoT - Energia - WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "energy-alert",
        "options": {}
      },
      "id": "3e6d56b8-a8f4-4364-809e-e18862feba65",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2432,
        -368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "recipient_phone",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; const raw = String(d.recipient_phone || d.recipientPhone || d.alert_phone || d.alertPhone || d.admin_phone || d.adminPhone || d.phone || d.client_phone || d.clientPhone || '').replace(/\\D/g, ''); if (!raw) return ''; return raw.startsWith('55') ? raw : `55${raw}`; })() }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; const client = d.client_name || d.clientName || d.client_id || d.clientId || 'Cliente nao identificado'; const deviceId = d.device_id || d.deviceId || 'device_nao_informado'; const deviceName = d.device_name || d.deviceName || d.device_label || d.deviceLabel || deviceId; const location = d.device_location || d.deviceLocation || d.location || d.establishment_label || d.establishmentLabel || 'Nao informado'; const sensor = d.sensor_type || d.sensorType || 'energia'; const value = d.value ?? 'n/d'; const unit = d.unit || ''; const minV = d.min_value ?? d.minValue ?? 'n/d'; const maxV = d.max_value ?? d.maxValue ?? 'n/d'; const occurred = d.occurred_at_local || d.occurredAtLocal || d.occurred_at || d.occurredAt || 'nao disponivel'; return 'ALERTA DE ENERGIA FORA DA FAIXA\\n\\n' + 'Cliente: ' + client + '\\n' + 'Local: ' + location + '\\n' + 'Equipamento: ' + deviceName + ' (' + deviceId + ')' + '\\n' + 'Sensor: ' + sensor + '\\n\\n' + 'Leitura atual: ' + value + (unit ? ' ' + unit : '') + '\\n' + 'Faixa esperada: min ' + minV + ' | max ' + maxV + '\\n' + 'Ocorrencia: ' + occurred + '\\n\\n' + 'Acao recomendada: verificar alimentacao eletrica e carga do equipamento.\\n' + 'Equipe Virtuagil Monitor'; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f5b23748-a3e8-46a2-b30b-809499cb828d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2192,
        -368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "phone_present",
              "leftValue": "={{ $json.recipient_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "399a5ae5-5720-4072-83ac-75f5dfeaec44",
      "name": "IF Phone Present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2032,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.virtuagil.com.br/message/sendText/Virtuagil%20Atendimento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "__REDACTED__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.recipient_phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd16717d-47a0-4097-8a03-0d7f0ca92b6a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1808,
        -464
      ]
    },
    {
      "parameters": {
        "content": "FLUXO IOT DE ALERTA (OUTBOUND)\n- Recebe webhook tecnico da API (eventos operacionais).\n- Envia notificacao WhatsApp para telefone de alerta/admin.\n- Nao processa conversa de cliente e nao responde mensagens recebidas.\n- Nao conflita com a Jade: atendimento conversacional fica somente no workflow 'jade-assistente'.",
        "height": 180,
        "width": 460,
        "color": 6
      },
      "id": "e1268e10-ec4e-4275-b6c5-4cae012dc631",
      "name": "NOTE - ALERTA ONLY",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        -520
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF Phone Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Phone Present": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {},
  "tags": [
    {
      "updatedAt": "2026-03-17T14:55:39.673Z",
      "createdAt": "2026-03-17T14:55:39.673Z",
      "id": "5jhSLR0Oc3shUwhn",
      "name": "virtuagil"
    }
  ]
}
