tmp/workflows-fix/fixed/IoT - Energia - WhatsApp - FIXED.json
{
  "name": "IoT - Energia - WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "energy-alert",
        "options": {}
      },
      "id": "webhook_energy",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -260,
        -120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "recipient_phone",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; const raw = String(d.recipient_phone || d.recipientPhone || d.alert_phone || d.alertPhone || d.admin_phone || d.adminPhone || d.phone || d.client_phone || d.clientPhone || '').replace(/\\D/g, ''); if (!raw) return ''; return raw.startsWith('55') ? raw : `55${raw}`; })() }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; const client = d.client_name || d.clientName || d.client_id || d.clientId || 'Cliente nao identificado'; const deviceId = d.device_id || d.deviceId || 'device_nao_informado'; const deviceName = d.device_name || d.deviceName || d.device_label || d.deviceLabel || deviceId; const location = d.device_location || d.deviceLocation || d.location || d.establishment_label || d.establishmentLabel || 'Nao informado'; const sensor = d.sensor_type || d.sensorType || 'energia'; const value = d.value ?? 'n/d'; const unit = d.unit || ''; const minV = d.min_value ?? d.minValue ?? 'n/d'; const maxV = d.max_value ?? d.maxValue ?? 'n/d'; const occurred = d.occurred_at_local || d.occurredAtLocal || d.occurred_at || d.occurredAt || 'nao disponivel'; return 'ALERTA DE ENERGIA FORA DA FAIXA\\n\\n' + 'Cliente: ' + client + '\\n' + 'Local: ' + location + '\\n' + 'Equipamento: ' + deviceName + ' (' + deviceId + ')' + '\\n' + 'Sensor: ' + sensor + '\\n\\n' + 'Leitura atual: ' + value + (unit ? ' ' + unit : '') + '\\n' + 'Faixa esperada: min ' + minV + ' | max ' + maxV + '\\n' + 'Ocorrencia: ' + occurred + '\\n\\n' + 'Acao recomendada: verificar alimentacao eletrica e carga do equipamento.\\n' + 'Equipe Virtuagil Monitor'; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set_energy_message",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -30,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "phone_present",
              "leftValue": "={{ $json.recipient_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_energy_phone",
      "name": "IF Phone Present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.virtuagil.com.br/message/sendText/Virtuagil%20Atendimento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "D8A8CA4EF0E0-49F0-9684-3C0949A6BA81"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.recipient_phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http_energy_whatsapp",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        360,
        -220
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF Phone Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Phone Present": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
